body {
    background-color: rgb(209, 9, 166);
    color: rgb(203, 238, 3);
    width: 500px;
    margin-right: auto;
    margin-left : auto;
  }
  button {
    padding: 5px 20px;
    background-color: rgb(209, 9, 166);
    color: rgb(203, 238, 3);
    border-color: #2E6DA4;
    border-style: none;
  }
  input {
    height: 20px;
  }
